    .deptContainer {
        margin: 3% auto;
        width: 100%;
        text-align: center;
    }

    .deptContainer ul a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .deptContainer li {
        background-color: #96897B;
        width: 70%;
        color: #fff;
        cursor: pointer;
        text-shadow: 1px 1px 2px #616161;
        display: inline-block;
    }

    .deptContainer li:nth-child(1) {
        background-color: #9E788F;
    }

    .deptContainer li:nth-child(2) {
        background-color: #A5C4D4;
    }

    .deptContainer li:nth-child(3) {
        background-color: #99C2A2;
    }

    .deptContainer li:hover {
        background-color: #C2E812;
    }

    .cardImg {
        width: 40%;
        margin: 5% auto;
    }

    .card {
        transition: all .2s ease-in-out;
        animation-name: fadeInUp;
    }

    .card:hover {
        transform: scale(1.025);
    }

    .card-title {
        font-size: 1.35em;
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: none;
        }
    }

    @media screen and (min-device-width: 600px) and (max-device-width: 820px) and (orientation: landscape) {
        .deptContainer ul a {
            flex-direction: row;
            margin: 2%;
        }
    }

    @media only screen and (min-device-width: 768px) {
        .deptContainer {
            width: 70%;
        }
        .deptContainer li {
            padding: 2%;
            width: 40%;
            font-size: 1.25em;
            margin: 4%;
            cursor: pointer;
            margin: 2%;
        }
        .card-title {
            font-size: 2em;
        }
    }