@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100vw;
  min-width: 1100px;
  height: 100vh;
  font-family: 'Josefin Sans', Calibri, Arial, sans-serif;
}

a {
  text-decoration: none;
  transition: all .2s ease-in;
}

a:link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
  transition: all .1s ease-in-out;
}

a:active {
  color: #fff;
}
ul{
  padding: 0;
}
ul li {
  list-style: none;
}

.bodyContainer {
  margin: 3% auto;
  width: 40%;
}

.bodyContainer h1 {
  text-align: center;
  font-size: 1.75em;
  margin: 5% 0 3%;
}

.btn:hover{
  cursor: pointer;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}