.carousel-caption {
    padding-bottom: 135px;
    width: 100%;
    right: 0;
    left: 0;
}

.carousel-caption h1 {
    font-size: 3.5em;
    padding-top: 1.5%;
    text-shadow: 3px 1px 7px #000000;
    background-color: rgba(165, 196, 212, 0.5);
}

.carousel-caption h3 {
    font-size: 2.75em;
    text-shadow: 2px 2px 4px #000000;
    color: rgb(213, 255, 19);
    margin: 1% 0;
}

.addlCaption {
    display: none;
}

@media screen and (min-device-width: 300px) and (max-device-width: 740x) and (orientation: portrait) {
    .carousel-inner {
        height: 18em;
    }
    .addlCaption {
        display: inline-block;
        width: 100%;
    }
}

@media screen and (min-device-width: 600px) and (max-device-width: 820px) and (orientation: landscape) {
    .carousel-inner {
        height: 20em;
    }
    .addlCaption {
        display: inline-block;
        width: 100%;
        position: absolute;
    }
}