        .modal {
            position: fixed;
            width: 350px;
            min-height: 450px;
            top: 25%;
            bottom: 25%;
            left: 0;
            right: 0;
            margin: auto;
            padding: 1%;
            z-index: 200;
            background-color: #fff;
            box-shadow: 2px 2px 5px rgb(122, 122, 122);
            overflow: hidden;
        }

        .close {
            position: absolute;
            right: 10px;
            top: 8px;
            width: 32px;
            height: 32px;
            opacity: 0.3;
            cursor: pointer;
            transition: 0.40s;
            -webkit-transition: 0.40s;
            -moz-transition: 0.40s;
            -ms-transition: 0.40s;
            -o-transition: 0.40s;
        }

        .close:hover {
            opacity: 1;
            transition: 0.40s;
            -webkit-transition: 0.40s;
            -moz-transition: 0.40s;
            -ms-transition: 0.40s;
            -o-transition: 0.40s;
        }

        .close:before,
        .close:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #333;
        }

        .close:before {
            transform: rotate(45deg);
        }

        .close:after {
            transform: rotate(-45deg);
        }

        .modalTitle {
            margin: 0 0 5%;
            color: #C2E812;
            text-shadow: 1px 1px #838383;
            padding: 2% 0;
            font-size: 2.5em;
            background-color: #CC8B86;
        }

        .modalProduct {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 9% 1%;
            height: 100%;
        }

        .modalImg {
            width: 70%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .form-group {
            text-align: left;
        }

        @media screen and (min-device-width: 600px) and (max-device-width: 820px) and (orientation: landscape) {
            .modal {
                width: 450px;
                min-height: 350px;
            }
            .modalProduct {
                padding: 5% 1%;
            }
        }

        @media screen and (min-device-width: 768px) {
            .modal {
                width: 20%;
                min-width: 600px;
                min-height: 675px;
                padding: 3% 1%;
            }
            .close {
                right: 32px;
                top: 32px;
            }
            .close:before,
            .close:after {
                height: 33px;
            }
            .modalProduct {
                margin: 8% 0;
                height: 90%;
                padding: 0;
            }
            .modalImg {
                width: 50%;
            }
        }