    .nav-position {
        position: static;
    }

    .navigation {
        background-color: #628395;
        padding: 0.5% 10%;
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
    }

    .navigation li {
        margin: 0 5%;
    }

    .navbar-brand {
        color: #C2E812;
        text-shadow: 1px 1px 2px #616161;
        font-size: 2.25rem;
    }

    #navlink li a {
        color: #fff;
    }

    #navlink li a:hover {
        color: #C2E812;
    }

    .shopcart {
        display: inline-block;
    }

    .right {
        width: 90%;
        float: right;
        text-align: left;
    }

    .right p{
        display: inline-block;
        margin: 0.5% 1%;
        color: #fff;
    }

    .right a {
        color: #C2E812;
    }

    input {
        display: inline;
    }

    .userName {
        color: #fff;
        margin: 3% 0;
        display: block;
    }

    @media screen and (min-width: 990px) {
        .right {
            /* width: 45%; */
            text-align: right;
        }
        .right .userName {
            margin: 0 5%;
            display: inline-block;
        }
    }