    .nav-position {
        position: static;
    }

    .navigation {
        background-color: #628395;
        padding: 0.5% 10%;
        width: 100%;
    }

    .navigation li {
        margin: 0 10%;
    }

    .navbar-brand {
        color: #C2E812;
        text-shadow: 1px 1px 2px #616161;
    }

    #navlink li a {
        color: #fff;
    }

    #navlink li a:hover {
        color: #C2E812;
    }

    .shopcart {
        display: inline-block;
    }

    .right {
        width: 45%;
        text-align: right;
    }

    input {
        display: inline;
    }

    .userName {
        margin: 0 5%;
        display: inline-block;
        color: #fff;
    }

    @media screen and (min-device-width: 60px) and (max-device-width: 1000px) {
        .right {
            width: 90%;
            float: right;
            text-align: left;
        }
        .userName{
            margin: 3% 0;
            display: block;
        }
    }