.prodContainer {
    width: 70%;
    margin: 3% auto;
    text-align: center;
}

.prodContainer h1 {
    font-size: 1.75em;
    margin: 5% 0 3%;
}

.prodDisplay {
    height: 100%;
    width: 100%;
}

.prodDisplay ul {
    padding: 0;
}

.prodDisplay li {
    text-align: center;
    display: inline-block;
    margin: 3%;
}

.prodDisplay img {
    width: 70%;
    margin: 2%;
}