.prodContainer {
    width: 100%;
    margin: 3% auto;
    text-align: center;
}

.prodContainer h1 {
    font-size: 1.75em;
    margin: 5% 0 1%;
}

.prodDisplay {
    height: 100%;
    width: 100%;
}

.prodDisplay ul {
    padding: 0;
}

.prodDisplay li {
    text-align: center;
    display: inline-block;
    margin: 3%;
    cursor: pointer;
    max-width: 25%;
}

.prodDisplay img:hover {
    transform: scale(1.020);
}

.prodDisplay img {
    width: 70%;
    margin: 2%;
    transition: all .2s ease-in-out;
}