.cartContainer {
    overflow: auto;
    text-align: right;
    padding: 0 1%;
}

.cartContainer h1 {
    color: #fff;
    text-shadow: 1px 1px #838383;
    padding: 2% 0;
    position: static;
    text-align: center;
    font-size: 1.5em;
    background-color: #cc8b86;
}

.cartContainer ul {
    padding: 0 1% 0 0;
    overflow: auto;
    height: 30em;
}

.cartContainer ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding: 2%;
    height: 25%;
}

.cartContainer ul li span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.cartContainer ul li div {
    float: right;
    clear: both;
}

.cartPic {
    width: 21%;
    height: 100%;
}

.cartContainer ul li h5 {
    font-weight: 300;
}

.cartContainer ul li h6 {
    line-height: 100%;
    margin: 0% 0 5%;
    height: 9%;
}

.cartContainer ul li p {
    margin: 0;
    font-weight: 300;
}

.cartContainer button {
    float: left;
    clear: both;
    font-size: 12px;
}

#root>div>div>div.container.cartContainer>div>span>button {
    padding: 1% 5%;
}

.cartContainer div {
    border-top: 3px solid;
    padding: 1% 0;
}

.removeItem {
    width: 5em;
    margin: 1% 0;
}

.removeItem:hover {
    cursor: pointer;
}

.removeItem img {
    float: none;
    width: 25%;
    margin: 0 5%;
}

.removeItem p {
    display: inline-block;
    margin-left: 5%;
}

@media screen and (min-width: 600px) and (max-width: 820px) and (orientation: landscape) {
    .cartContainer ul {
        height: 11em;
    }
    .cartContainer ul li {
        height: 80%;
    }
    .cartPic {
        width: 13%;
    }
    .removeItem {
        width: 6em;
    }
    .cartContainer button {
        font-size: 14px;
    }
    .removeItem img {
        margin-left: -5%;
    }
    .cartContainer ul li p {
        margin: 0 0 0 5%;
    }
}

@media screen and (min-width: 768px) {
    .cartContainer {
        margin: 3% auto;
    }
    .cartContainer h1 {
        color: #fff;
        text-shadow: 1px 1px #838383;
        padding: 2% 0;
        font-size: 2.3em;
        background-color: #CC8B86;
    }
    .cartContainer ul {
        padding: 0 1% 0 0;
        overflow: auto;
    }
    .cartContainer ul li {
        width: 100%;
        border-top: 1px solid;
        padding: 1%;
        height: 30%;
        min-height: 150px;
    }
    .cartContainer ul li div {
        float: right;
        clear: both;
    }
    .cartPic {
        width: 10%;
        min-width: 125px;
    }

    .cartContainer ul li h6 {
        line-height: 1%;
        margin: 2% 0;
        height: 0;
        line-height: 100%;
        margin: 0% 0 2%;
    }
    .cartContainer button {
        float: left;
        clear: both;
        font-size: 14px;
    }
    .cartContainer div {
        border-top: 3px solid;
        padding: 1% 0;
    }
    .removeItem {
        width: 6em;
    }
    .removeItem:hover {
        cursor: pointer;
    }
    .removeItem img {
        float: none;
        width: 20%;
    }
}